@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Charm&family=Darker+Grotesque&display=swap");
body {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
}
h1,
h2,
h3 {
  font-family: "Charm", cursive;
}
main {
  min-height: 500px;
}

.carousel-caption {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 40%;
  height: 50%;
  text-align: left;
  padding: 20px;
  font-size: 1.3rem;
}
.dropdown-menu {
  border: 1px solid #fff;
}
.dropdown-item {
  color: #fff;
  font-size: 1.2rem;
}
.carousel-caption h1 {
  font-size: 4rem;
}
.carousel-caption .btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 5px 20px;
}
@media (max-width: 1200px) {
  .carousel-caption {
    top: 30px;
    width: 60%;
    left: 30%;
  }
  .carousel-caption .btn {
    font-size: 1rem;
  }
  .carousel-caption h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 997px) {
  .carousel-caption h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 0px;
    width: 70%;
    left: 15%;
    font-size: 1rem;
    text-align: center;
  }
  .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .carousel-caption .btn {
    font-size: 0.8rem;
  }
  .product-card {
    margin-bottom: 180px;
  }
}
@media (max-width: 500px) {
  .carousel-caption {
    top: 15px;
    width: 95%;
    left: 5%;
    font-size: 1rem;
    text-align: center;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-caption h1 {
    font-size: 1.5rem;
  }
  .carousel-caption .btn {
    font-size: 0.8rem;
  }

  .product-card {
    margin-bottom: 180px;
  }
}

footer {
  background: url("../img/bg-footer.jpg") no-repeat center top;
  min-height: 700px;
  padding: 100px 0;
  background-size: 100% 100%;
}

.bg-green {
  background: #58732f;
}
.text-green {
  color: #58732f;
}
.rounded {
  border-radius: 6px;
}
.rounded-big {
  border-radius: 20px;
}

.product-card-content {
  border: 2px solid white;
  width: 80%;
  top: 100%;
  margin-top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.product-card {
  margin-bottom: 180px;
}

.font-weight-semibold {
  font-weight: 550;
}

.circle-bg {
  width: 232px;
  height: 232px;
}

.circle-bg > img {
  width: 60%;
}

.icon-text {
  font-size: 25px;
}

.left-quote {
  width: 90%;
  float: left;
}

.right-quote {
  width: 90%;
  float: right;
}

.left-comma {
  font-size: 65px;
  left: 20px;
  top: -15px;
}

.right-comma {
  font-size: 65px;
  right: 20px;
  top: -25px;
  transform: rotate(180deg);
}

.left-quote-bg {
  background: #c4c4c4;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 20px;
  bottom: -20px;
}

.right-quote-bg {
  background: #c4c4c4;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: -20px;
  bottom: -20px;
}

/* panel style */
.panel-wrp {
  box-shadow: inset 0 0 0 50vw rgba(66, 66, 66, 0.35);
  object-fit: cover;
  background-repeat: no-repeat;
}

.panel-container {
  padding-top: 90px;
  padding-bottom: 50px;
}

.panel-btn {
  background: #58732f;
  width: 273px;
  padding: 10px 30px;

  font-family: "Charm";
  font-size: 36px;
  color: white;
}

.panel-content {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: #ffffff;
}

/* section style */
.section-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  color: #58732f;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 36px;
}

/* about page */
.about-section-panel {
  background: url("../img/cleaning-your-fruits-and-vegetables-naturally-featured-i.png");
}

/* main values section */
.main-value-card {
  background: #f2f0eb;
  border-radius: 15px;

  min-height: 475px;
}

.main-value-card .icon {
  height: 140px;
  width: 140px;
}

.main-value-card .content {
  font-size: 24px;
  margin-top: 60px;
}

/* different points section */
.different-point-container .background {
  width: 100%;
  object-fit: contain;
}

.different-point-container .content-wrp {
  background: #58732f;
}

.different-point-container .content-wrp .content {
  color: white;
  font-size: 24px;
  padding-left: 102px;
  padding-right: 102px;
}

/* how about section*/
.how-about-section .how-about-wrp {
  background: url("../img/slider_carrot.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}

.how-about-section .custom-card {
  background: rgba(88, 115, 47, 0.8);
  border-radius: 15px;
  height: 360px;
  font-weight: 600;
  font-size: 18px;
  width: 150px;
  opacity: 0.9;
}

/* product page */
.product-section-panel {
  background: url("../img/slide-survey.png");
}

.product-section {
  margin-top: 100px;
}

.product-section .filter-button-group {
  margin-bottom: 50px;
}

.product-section .filter-btn {
  border: 1px solid #58732f;
  box-sizing: border-box;
  border-radius: 10px;

  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #58732f;
}

.product-section .filter-btn:hover {
  background: #58732f;
  color: white;
}

.product-section .custom-select {
  border: 1px solid #58732f;
  color: #58732f;
  font-size: 22px;
}

.product-section .custom-card {
  border-radius: 10px;
  color: #58732f;
  margin-bottom: 60px;
}

.product-section .custom-card .product-name {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.product-section .custom-card .product-price {
  font-size: 20px;
}

.product-section .custom-card .product-image {
  position: relative;
  vertical-align: top;
}

.product-section .custom-card .product-image img {
  height: 284px;
  width: 270px;
}

.product-section .custom-card .product-image:after {
  content: "\A";
  position: absolute;
  border-radius: 10px;
  height: 284px;
  width: 270px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.product-section .custom-card .product-image:hover:after {
  opacity: 1;
}

.product-section .custom-card .shopping-group-btn {
  position: absolute;
  top: 32%;
  left: 46%;
  z-index: 3;
  transition: all 1s;
  -webkit-transition: all 1s;
  opacity: 0;
}

.product-section .custom-card .shopping-group-btn i {
  color: white;
  font-size: 30px;
}

.product-section .custom-card .shopping-group-btn i:hover {
  cursor: pointer;
}

.product-image:hover .shopping-group-btn {
  opacity: 1;
}

.product-section .pagination-wrp .page-link {
  color: black;
  background: #f2f0eb;
  border: 1px solid #58732f;
  box-sizing: border-box;
  border-radius: 0px;
}

.product-section .pagination-wrp .page-link i {
  font-size: 14px;
}

.product-section .pagination-wrp .page-link:hover {
  background: rgba(88, 115, 47, 0.8);
  color: white;
}

.product-section .pagination-wrp .info {
  font-size: 24px;
  color: #58732f;
}
